.title {
	width: 50%;
	margin: auto;
	text-align: center;
}

.settings {
	text-align: center;
	margin: 3rem;

	& button {
		cursor: pointer;
		border: 1px solid #000;
		border-radius: 4px;
		padding: 0.5rem;
		background-color: #fff;
		transition: all 0.5s;
		&:hover {
			transform: scale(1.03);
			background-color: #000;
			color: #fff;
		}
	}
}
